.delete-all-dialog {
  padding: 20px;
  font-family: monospace;
}

.actions {
  display: flex;
  flex-direction: row;
  height: 35px;

  button {
    border-radius: 0;
  }

  .delete-all-button {
    margin-right: 10px;
  }
}