.top-border {
  height: 4px;
  width: 100%;
}
.border-with-color {
  background-color: aqua;
}

.is-weekend {
  color: magenta;
}

.is-opaque {
  color: dodgerblue;
}

.day-cell-number-section {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 6px;
  cursor: pointer;
  transition: background-color 0.3s linear;
  margin-bottom: 5px;
  
  &:hover {
    background-color: rgba(247, 221, 104, 0.534);
  }
}

.delete-button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;

  .mat-icon {
    height: 16px;
    width: 16px;
  }
  .material-icons {
    font-size: 16px;
  }
}