<div class="top-border" [ngClass]="{ 'border-with-color': dayCell.isToday }"></div>
<div class="top-section">
  <div [ngClass]="{ 'is-weekend': dayCell.isWeekend, 'is-opaque': !dayCell.isInActualMonth }">
    <div (click)="openNotificationDialog()" class="day-cell-number-section">
      {{ dayCell.day }}
    </div>
  </div>
</div>

<app-reminder-list
  [reminders]="reminders"
>
</app-reminder-list>
<div
  *ngIf="reminders.length"
  class="delete-button-container"
  (click)="openDeleteAllDialog()"
>
  <mat-icon aria-hidden="false" aria-label="Delete all">delete</mat-icon>
</div>