/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

.calendar-dialog {
  .mat-dialog-container {
    padding: 0;
    border-radius: 0;
  }
}

$custom-typography: mat-typography-config(
  $font-family: 'monospace'
);

@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);